{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">
        <h1>Liste des annonces</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>DateCreation</th>
                <th>créée par</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                    <td>{{ annonce.id }}</td>
                    <td>{{ annonce.titre }}</td>
                    <td>{{ annonce.contenu|raw }}</td>
                    <td>{{ annonce.dateCreation ? annonce.dateCreation|date('d/m/Y') : '' }}</td>
                    <td>{{ annonce.staff.nom|upper }} {{ annonce.staff.prenom|capitalize }}</td>
                    <td>
                        <a href="{{ path('annonce_show', {'id': annonce.id}) }}" >details</a>
                        <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" >modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('annonce_new') }}" class="edit-btn">Nouvelle annonce</a>
    </div>
{% endblock %}
