{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">
        <h1>Liste des genres</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Categories</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for genre in genres %}
                <tr>
                    <td>{{ genre.id }}</td>
                    <td>{{ genre.libelle }}</td>
                    <td>
                        {% for cat in genre.categories %}
                            <span class="alert-info rounded p-1">{{ cat.libelle }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('genre_show', {'id': genre.id}) }}">details</a>
                        <a href="{{ path('genre_edit', {'id': genre.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">pas de rubriques dans la base de données</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('genre_new') }}" class="edit-btn">Nouveau genre</a>
    </div>
{% endblock %}
