<div style="height: 90.5vh;padding-top:0px; background:linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('{{ asset('assets/images/bg.jpg') }}')">
    <div class="d-flex justify-content-center h-100">
        <form action="{{ path('livres_show') }}" id="search" method="post" style="margin-top: 33.75vh;">
            <div class="searchbar form-group">
                <input value="{{donnees.search|default('')}}" class="search_input" type="text" name="search" placeholder="Search...">
                <a type="submit" value="{{donnees.search|default('')}}" href="{{ path('livres_show') }}" class="search_icon" onclick="this.closest('form').submit();return false;">
                    <img src="{{asset('assets/images/yellow/search.png')}}" class="search-icon">
                </a>
            </div>
        </form>
    </div>
</div>