{% extends "layout.html.twig" %}
{% block body %}
    {% include "_search_home.html.twig" %}
    <div class="container-carousel">

        <div class="row">

            <div class="col-sm ">
                {% include 'annonce/annonces.html.twig' %}
            </div>

            <div class="col-sm ">
                <h2 class="carousel-title"><span>Nouveautés</span></h2>
                <div id="newsCarousel" class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">

                    <ol class="carousel-indicators">
                        <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#newsCarousel" data-slide-to="1"></li>
                        <li data-target="#newsCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        {% for article in articles %}
                            {% for new in nouveaute | slice(0, 3) %}
                                {% if new.id == article.id %}
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="img-box h-100 w-100 d-inline-block">
                                                    <h2 class="text-center">{{ article.titre}}</h2>
                                                    {% if article.vignette == NULL %}
                                                        <input type="hidden" name="id" value="{{ article.id }}">
                                                        <a href="{{ path('article_details', {id: article.id}) }}">
                                                            <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="500" height="500"></a>
                                                    {% else %}
                                                        <input type="hidden" name="id" value="{{ article.id }}">
                                                        <a href="{{ path('article_details', {id: article.id}) }}">
                                                            <img src="{{ article.vignette }}" alt="{{ article.vignette }}" width="500" height="500"></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-sm text-center m-3">
                        <a href="#" class="edit-btn">Voir la liste des nouveautés disponibles</a>
                    </div>
                    <a class="carousel-control-prev" href="#newsCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#newsCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="separtor"></div>

    <h2 class="carousel-title"><span>E-braderie</span></h2>

    <div class="container-carousel">
        <div class="row">
            <div class="col-sm ">
                <h3 class="carousel-title">Le Concept</h3>
                <div class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non metus diam. Nunc placerat ante at iaculis egestas. Pellentesque risus mauris, interdum vitae tellus eu, pellentesque dignissim urna. Nulla mattis enim mauris, quis aliquam nisi placerat imperdiet. Morbi consequat leo vel ante varius finibus. Pellentesque vitae ante vitae turpis maximus volutpat porta vitae orci. Donec tincidunt felis at tortor tincidunt, quis porta ipsum dignissim. Vivamus imperdiet est augue, eu ultricies elit pulvinar ornare. Pellentesque nulla nulla, congue facilisis aliquam id, ultricies id nibh. Pellentesque sed nibh eget sapien mollis malesuada. Vivamus eget congue sem, id dapibus dui. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm ">
                <h3 class="carousel-title">Articles à vendre</h3>
                <div id="eBraderieCarousel" class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">

                    <ol class="carousel-indicators">
                        <li data-target="#eBraderieCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#eBraderieCarousel" data-slide-to="1"></li>
                        <li data-target="#eBraderieCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP1.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP2.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP3.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP4.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP5.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP7.jpg') }}" class="img-fluid" alt="" data-toggle="tooltip" data-placement="bottom" title="Voir plus de détails"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm text-center m-3">
                        <a href="#" class="edit-btn">Voir la liste des achats disponibles</a>
                    </div>
                    <a class="carousel-control-prev" href="#eBraderieCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#eBraderieCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}