{% extends "layout.html.twig" %}
{% block body %}
    {% include "_search.html.twig" %}
    <div class="container-carousel">

        <div class="row">

            <div class="col-sm ">
                <h2 class="carousel-title"><span>Annonces</span></h2>
                <div id="annonceCarousel" class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0" >

                    <ol class="carousel-indicators">
                        <li data-target="#annonceCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#annonceCarousel" data-slide-to="1"></li>
                        <li data-target="#annonceCarousel" data-slide-to="2"></li>
                        <li data-target="#annonceCarousel" data-slide-to="3"></li>
                        <li data-target="#annonceCarousel" data-slide-to="4"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non metus diam. Nunc placerat ante at iaculis egestas. Pellentesque risus mauris, interdum vitae tellus eu, pellentesque dignissim urna. Nulla mattis enim mauris, quis aliquam nisi placerat imperdiet. Morbi consequat leo vel ante varius finibus. Pellentesque vitae ante vitae turpis maximus volutpat porta vitae orci. Donec tincidunt felis at tortor tincidunt, quis porta ipsum dignissim. Vivamus imperdiet est augue, eu ultricies elit pulvinar ornare. Pellentesque nulla nulla, congue facilisis aliquam id, ultricies id nibh. Pellentesque sed nibh eget sapien mollis malesuada. Vivamus eget congue sem, id dapibus dui. </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify ">Nullam convallis vulputate libero eu vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis lobortis quam molestie euismod. Suspendisse at ipsum auctor eros consectetur gravida at vitae magna. Morbi nisi lacus, convallis vitae aliquam sed, euismod vel ligula. Curabitur varius felis ut dictum fermentum. Curabitur semper porta nisi, sed ullamcorper nulla tristique ac. Vestibulum congue, est eget pretium venenatis, libero arcu porta odio, at consequat nisi enim eget odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dolor massa, blandit sit amet faucibus non, aliquam vitae nunc. <p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <img src="{{ asset('assets/images/tmp/HP7.jpg') }}"  alt="" style="height: 300px; width: auto">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <img src="{{ asset('assets/images/tmp/HP1.jpg') }}" alt="" style="height: 300px;width: auto;">
                                        </div>
                                        <div class="col-sm">
                                            <p class="text-justify">Quisque id tellus ut ex dapibus iaculis. Suspendisse ac laoreet arcu, in commodo neque. Etiam eget facilisis nulla. Mauris suscipit leo id ipsum finibus, eu commodo sapien finibus. Nulla faucibus porta metus sit amet rhoncus. Morbi non mi in lacus volutpat pulvinar quis et urna. Sed a tempus dui. Praesent massa neque, gravida a augue quis, eleifend interdum orci. Nullam at commodo elit, in malesuada libero. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify">Maecenas interdum diam massa, ac sollicitudin lorem accumsan quis. Integer imperdiet vehicula orci id lobortis. Aenean auctor sagittis mauris eu convallis. Sed eu neque rutrum, consequat augue id, pharetra nunc. Curabitur in tortor eu arcu semper sagittis. Suspendisse vitae justo pulvinar, porttitor enim quis, mattis neque. Duis quis lectus a ante faucibus suscipit. Nunc malesuada, odio et finibus lacinia, metus ligula hendrerit mi, id iaculis lorem nunc vel mauris. Vestibulum vehicula lectus metus, id consequat massa scelerisque vitae. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <a href="#" class="edit-btn">Voir la liste des annonces</a>
                    </div>
                    <a class="carousel-control-prev" href="#annonceCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#annonceCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm ">
                <h2 class="carousel-title"><span>Nouveautés</span></h2>
                <div id="newsCarousel" class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">

                    <ol class="carousel-indicators">
                        <li data-target="#newsCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#newsCarousel" data-slide-to="1"></li>
                        <li data-target="#newsCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP1.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP2.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP3.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP4.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP5.jpg') }}" class="img-fluid" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP7.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm text-center m-3">
                        <a href="#" class="edit-btn">Voir la liste des nouveautés disponible</a>
                    </div>
                    <a class="carousel-control-prev" href="#newsCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#newsCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="separtor"></div>

    <h2 class="carousel-title"><span>E-braderie</span></h2>

    <div class="container-carousel">
        <div class="row">
            <div class="col-sm ">
                <h3 class="carousel-title">Le Concept</h3>
                <div class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non metus diam. Nunc placerat ante at iaculis egestas. Pellentesque risus mauris, interdum vitae tellus eu, pellentesque dignissim urna. Nulla mattis enim mauris, quis aliquam nisi placerat imperdiet. Morbi consequat leo vel ante varius finibus. Pellentesque vitae ante vitae turpis maximus volutpat porta vitae orci. Donec tincidunt felis at tortor tincidunt, quis porta ipsum dignissim. Vivamus imperdiet est augue, eu ultricies elit pulvinar ornare. Pellentesque nulla nulla, congue facilisis aliquam id, ultricies id nibh. Pellentesque sed nibh eget sapien mollis malesuada. Vivamus eget congue sem, id dapibus dui. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm ">
                <h3 class="carousel-title">Article à vendre</h3>
                <div id="eBraderieCarousel" class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">

                    <ol class="carousel-indicators">
                        <li data-target="#eBraderieCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#eBraderieCarousel" data-slide-to="1"></li>
                        <li data-target="#eBraderieCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP1.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP2.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP3.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP4.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP5.jpg') }}" class="img-fluid" alt=""></a>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="img-box h-100 w-100 d-inline-block">
                                        <a href="#"><img src="{{ asset('assets/images/tmp/HP7.jpg') }}" class="img-fluid" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm text-center m-3">
                        <a href="#" class="edit-btn">Voir la liste des achats disponible</a>
                    </div>
                    <a class="carousel-control-prev" href="#eBraderieCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#eBraderieCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}