<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Médiathèque Thales - Brest</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main-menu.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nav-search.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/sub-menu.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/phone.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/pagination.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    {% endblock %}
</head>
<body>
{% include "_nav.html.twig" %}
{% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('assets/js/scriptMenu.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}" ></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}" ></script>

{% endblock %}
</body>
{% include "_footer.html.twig" %}
</html>
