<div class="row">
    {% if articles is defined %}
        {% for article in articles | slice(0, 30) %}
            <div class="col-lg-12 p-2">
                <div class="row">
                    <div class="col-lg-2">
                        {% if nouveaute is defined %}
                            {% for new in nouveaute %}
                                {% if new.id == article.id %}
                                    <span class="text-size text-bold text-size-title text-nouveaute"> nouveau !</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if article.vignette == NULL %}
                            <input type="hidden" name="id" value="{{ article.id }}">
                            <a href="{{ path('article_details', {id: article.id}) }}">
                                <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="150" height="150"></a>
                        {% else %}
                            <input type="hidden" name="id" value="{{ article.id }}">
                            <a href="{{ path('article_details', {id: article.id}) }}">
                                <img src="{{ article.vignette }}" alt="{{ article.vignette }}" width="150" height="180"></a>
                        {% endif %}
                    </div>
                    <div class="col-lg-10">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="text-size-title"><span class="text-bold">{{article.titre | capitalize }}</span></div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-size">
                                    {% if article.categorie.libelle == 'video' %}
                                        <span class="text-orange">réalisateur : </span>
                                    {% elseif article.categorie.libelle == 'livre' %}
                                        <span class="text-orange">auteur : </span>
                                    {% elseif article.categorie.libelle == 'jeux' %}
                                        <span class="text-orange">éditeur : </span>
                                    {% elseif article.categorie.libelle == 'musique' %}
                                        <span class="text-orange">artiste : </span>
                                    {% endif %}
                                    <!-- changer quand on aura une liste des entités par article, pour l'instant il n'y a qu'une entité par article -->
                                    {% if article.entites[0] is defined %}
                                        {{ article.entites[0].prenom | capitalize }}
                                        {{article.entites[0].nom is empty ? "inconnu" : article.entites[0].nom | capitalize }}
                                    {% else %}
                                        inconnu
                                    {% endif %}
                                </div>
                                <div class="text-size"><span class="text-orange">date de publication : </span>{{article.datePublication is empty ? "inconnu" : article.datePublication|date("d/m/Y")}}</div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-size">
                                    <span class="text-orange">genre : </span>
                                    {{article.genre.libelle}}
                                </div>
                                <div class="text-size">
                                    <span class="text-orange">rubrique(s) : </span>
                                    {% if article.rubriques[0].libelle is defined %}
                                        {{ article.rubriques[0].libelle }} <!-- mettre la liste quand plusieurs rubriques -->
                                    {% else %}
                                        aucune
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-size"><span class="text-orange">moyenne : </span>moyenne (étoile)</div>
                                {%  if article.statut.libelle == "vendable" %}
                                    <div class="text-size"><span class="text-orange">prix : </span><span style="color: red">{{ article.montantVente }}€</span></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-lg-9">
                                <div class="text-justify text-size">
                                    {% if article.categorie.libelle == 'video' %}
                                        <span class="text-orange">synopsis : </span>
                                    {% elseif article.categorie.libelle == 'livre' %}
                                        <span class="text-orange">résumé : </span>
                                    {% elseif article.categorie.libelle == 'jeux' %}
                                        <span class="text-orange">description : </span>
                                    {% elseif article.categorie.libelle == 'musique' %}
                                        <span class="text-orange">description : </span>
                                    {% endif %}
                                    <p class="readMore"> <!--changer description en article.description-->
                                        {% if article.description is not empty %}
                                            {{ article.description | raw }}
                                        {% else %}
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas risus turpis, cursus
                                            a aliquet non, lacinia eget nibh. Donec massa enim, placerat nec imperdiet ac, convallis
                                            et neque. Sed arcu turpis, facilisis at orci quis, mollis malesuada augue. Donec in
                                            nulla et turpis hendrerit sollicitudin et in elit. Vivamus fermentum erat purus, a
                                            fringilla arcu faucibus convallis. Vestibulum commodo eu mi vitae ultricies. Ut
                                            sollicitudin risus eget ipsum elementum hendrerit. Donec fringilla massa sodales
                                            erat suscipit, quis maximus enim tincidunt. Nam vehicula leo nec eros dictum malesuada.
                                            Suspendisse volutpat quam eget rhoncus porttitor.
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-2 pt-4">
                                <div class="row">
                                    <div class="col">
                                        <input type="hidden" name="id" value="{{ article.id }}">
                                        {%  if article.statut.libelle == "empruntable" %}
                                            <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-emprunt">
                                                Emprunter</a>
                                        {% elseif article.statut.libelle == "vendable" %}
                                            <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-achat">
                                                Acheter</a>
                                        {% elseif article.statut.libelle == "emprunte" %}
                                            <a role="button" data-role="disabled" class="style-button-article-emprunte">
                                                Emprunté</a>
                                        {% elseif article.statut.libelle == "reserve_achat" %}
                                            <a role="button" data-role="disabled" class="style-button-article-reserve_achat">
                                                Réservé - achat</a>
                                        {% elseif article.statut.libelle == "reserve_emprunt" %}
                                            <a role="button" data-role="disabled" class="style-button-article-reserve_emprunt">
                                                Réservé - emprunt</a>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        {#edit si admin/benevole#}
                                        {% if (is_granted('ROLE_ADMIN')) or (is_granted('ROLE_BENEVOLE'))  %}
                                            <a href="{{ path('article_edit', {'id': article.id}) }}" class="edit-btn">Modifier</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 pt-4">
                                {% if article.favoris is empty %}
                                    <a href="{{ path('add_article_favoris', {id: article.id, page: "list"}) }}"><i class="far fa-star text-danger fa-2x"></i></a>
                                {% else %}
                                    <a href="{{ path('remove_article_favoris', {id: article.id, page: "list"}) }}"><i class="fas fa-star text-danger fa-2x"></i></a>
                                {% endif %}
                                {% if article.id in panierUser %}
                                    <img src="{{asset('assets/images/blue/shopping-cart.png')}}" alt="kadis bleu" width="30" height="30">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    {% endif %}
</div>

