{% extends "layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="center p-4">Filtre
                <button class="edit-btn" onclick="toggle_visibility(1)"><i onclick="btn_icone(this)" class="fas fa-arrow-up"></i></button></h2>
                {% include 'data/_filtre_articles.html.twig' %}
            </div>
            <!--
                Récup les infos dans entite via article_entite
            -->
            <div class="col-lg-9 p-4">
                <div class="row">
                    <div class="col-lg-6 float-left">
                        <button onclick="confirmMessageIcone()"><img src="{{asset('assets/images/article/icone.jpg')}}" data-toggle="tooltip" data-placement="bottom" title="mode affichage en icone" alt="mode affichage en icones" width="20" height="20"></button>
                        <button onclick="confirmMessageList()"><img src="{{asset('assets/images/article/list.png')}}" data-toggle="tooltip" data-placement="bottom" title="mode affichage liste détaillée" alt="mode affichage liste détaillée" width="20" height="20"></button>
                        <span class="pl-4 pt-4 text-trier">trier par</span>
                        <button id="navbarDropdown" data-toggle="dropdown" class="edit-btn">
                            <i class="fas fa-arrow-up"></i></button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">titre</a>
                                <a class="dropdown-item" href="#">date d'aquisition</a>
                                <a class="dropdown-item" href="#">prix</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">popularité</a>
                            </div>
                    </div>
                </div>
                <div style="position:relative">
                    <div id="icone">
                        <div class="row">
                    {% if articles is defined %}
                        {% for article in articles | slice(0, 30) %}
                            <div class="col-4 pt-4 pb-4 float-left">
                                <div class="pl-2">
                                    {% if nouveaute is defined %}
                                        {% for new in nouveaute %}
                                            {% if new.id == article.id %}
                                                <span class="text-size text-bold text-size-title text-nouveaute"> nouveau !</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="row p-2">
                                    <div class="col-lg-4">
                                    {% if article.vignette == NULL %}
                                        <input type="hidden" name="id" value="{{ article.id }}">
                                        <a href="{{ path('article_details', {id: article.id}) }}">
                                            <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="120" height="120"></a>
                                    {% else %}
                                        <input type="hidden" name="id" value="{{ article.id }}">
                                        <a href="{{ path('article_details', {id: article.id}) }}">
                                            <img src="{{ article.vignette }}" alt="{{ article.vignette }}" width="120" height="120"></a>
                                    {% endif %}
                                        <div class="p-4">
                                            <input type="hidden" name="id" value="{{ article.id }}">
                                            {%  if article.statut.libelle == "empruntable" %}
                                                <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-emprunt">
                                                    Emprunter</a>
                                            {% else %}
                                                <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-achat">
                                                    Acheter</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                            <div class="text-size-title"><span class="text-bold">{{article.titre | capitalize }}</span></div>
                                            <div class="text-size pt-2">
                                                {% if article.categorie.libelle == 'video' %}
                                                <span class="text-orange">réalisateur : </span>
                                                {% elseif article.categorie.libelle == 'livre' %}
                                                    <span class="text-orange">auteur : </span>
                                                {% elseif article.categorie.libelle == 'jeux' %}
                                                    <span class="text-orange">éditeur : </span>
                                                {% elseif article.categorie.libelle == 'musique' %}
                                                    <span class="text-orange">artiste : </span>
                                                {% endif %}
                                                <!-- changer quand on aura une liste des entités par article, pour l'instant il n'y a qu'une entité par article -->
                                                {% if article.entites[0] is defined %}
                                                    {{ article.entites[0].prenom | capitalize }}
                                                    {{article.entites[0].nom is empty ? "inconnu" : article.entites[0].nom | capitalize }}
                                                {% else %}
                                                    inconnu
                                                {% endif %}
                                            </div>
                                            <div class="text-size pt-1"><span class="text-orange">date de publication : </span>{{article.datePublication is empty ? "inconnu" : article.datePublication|date("d/m/Y")}}</div>
                                            <div class="text-size pt-3"><span class="text-orange">moyenne : </span>moyenne (étoile)</div>
                                            {%  if article.statut.libelle == "vendable" %}
                                                <hr>
                                                <div class="text-size"><span class="text-orange">prix : </span><span style="color: red">{{ article.montantVente }}€</span></div>
                                            {% endif %}
                                    </div>
                                    <div class="col-lg-1"> <!-- pour tablette : p-4-->
                                        {% if article.favoris is empty %}
                                            <a href="{{ path('add_article_favoris', {id: article.id, page: "list"}) }}"><i class="far fa-star text-danger fa-2x"></i></a>
                                        {% else %}
                                            <a href="{{ path('remove_article_favoris', {id: article.id, page: "list"}) }}"><i class="fas fa-star text-danger fa-2x"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    </div>
                    <div id="liste" style="display: none;position:absolute">
                        <div class="row">
                            {% if articles is defined %}
                                {% for article in articles | slice(0, 30) %}
                                    <div class="col-lg-12 p-2">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                {% if article.vignette == NULL %}
                                                    <input type="hidden" name="id" value="{{ article.id }}">
                                                    <a href="{{ path('article_details', {id: article.id}) }}">
                                                        <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="150" height="150"></a>
                                                {% else %}
                                                    <input type="hidden" name="id" value="{{ article.id }}">
                                                    <a href="{{ path('article_details', {id: article.id}) }}">
                                                        <img src="{{ article.vignette }}" alt="{{ article.vignette }}" width="150" height="150"></a>
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="text-size-title"><span class="text-bold">{{article.titre | capitalize }}</span></div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-size">
                                                        {% if article.categorie.libelle == 'video' %}
                                                            <span class="text-orange">réalisateur : </span>
                                                        {% elseif article.categorie.libelle == 'livre' %}
                                                            <span class="text-orange">auteur : </span>
                                                        {% elseif article.categorie.libelle == 'jeux' %}
                                                            <span class="text-orange">éditeur : </span>
                                                        {% elseif article.categorie.libelle == 'musique' %}
                                                            <span class="text-orange">artiste : </span>
                                                        {% endif %}
                                                        <!-- changer quand on aura une liste des entités par article, pour l'instant il n'y a qu'une entité par article -->
                                                        {% if article.entites[0] is defined %}
                                                            {{ article.entites[0].prenom | capitalize }}
                                                            {{article.entites[0].nom is empty ? "inconnu" : article.entites[0].nom | capitalize }}
                                                        {% else %}
                                                            inconnu
                                                        {% endif %}
                                                        </div>
                                                        <div class="text-size"><span class="text-orange">date de publication : </span>{{article.datePublication is empty ? "inconnu" : article.datePublication|date("d/m/Y")}}</div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-size">
                                                            <span class="text-orange">genre : </span>
                                                            {{article.genre.libelle}}
                                                        </div>
                                                        <div class="text-size">
                                                            <span class="text-orange">rubrique : </span>
                                                            rubrique
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="text-size"><span class="text-orange">moyenne : </span>moyenne (étoile)</div>
                                                        {%  if article.statut.libelle == "vendable" %}
                                                            <div class="text-size"><span class="text-orange">prix : </span><span style="color: red">{{ article.montantVente }}€</span></div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row p-2">
                                                    <div class="col-lg-9">
                                                        <div class="text-justify text-size">
                                                            {% if article.categorie.libelle == 'video' %}
                                                                <span class="text-orange">synopsis : </span>
                                                            {% elseif article.categorie.libelle == 'livre' %}
                                                                <span class="text-orange">résumé : </span>
                                                            {% elseif article.categorie.libelle == 'jeux' %}
                                                                <span class="text-orange">description : </span>
                                                            {% elseif article.categorie.libelle == 'musique' %}
                                                                <span class="text-orange">description : </span>
                                                            {% endif %}
                                                            <p class="readMore"> <!--changer description en article.description-->
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non metus diam. Nunc placerat ante at iaculis egestas. Pellentesque risus mauris, interdum vitae
                                                                tellus eu, pellentesque dignissim urna. Nulla mattis enim mauris, quis aliquam nisi placerat imperdiet. Morbi consequat leo vel ante varius finibus.
                                                                Pellentesque vitae ante vitae turpis maximus volutpat porta vitae orci. Donec tincidunt felis at tortor tincidunt, quis porta ipsum dignissim. Vivamus
                                                                imperdiet est augue, eu ultricies elit pulvinar ornare. Pellentesque nulla nulla, congue facilisis aliquam id, ultricies id nibh. Pellentesque sed nibh
                                                                eget sapien mollis malesuada. Vivamus eget congue sem, id da
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 pt-4">
                                                        <input type="hidden" name="id" value="{{ article.id }}">
                                                        {%  if article.statut.libelle == "empruntable" %}
                                                            <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-emprunt">
                                                                Emprunter</a>
                                                        {% else %}
                                                            <a href="{{ path('add_article_panier',{id:article.id}) }}" class="style-button-article-achat">
                                                                Acheter</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-lg-1 pt-4">
                                                        {% if article.favoris is empty %}
                                                            <a href="{{ path('add_article_favoris', {id: article.id, page: "list"}) }}"><i class="far fa-star text-danger fa-2x"></i></a>
                                                        {% else %}
                                                            <a href="{{ path('remove_article_favoris', {id: article.id, page: "list"}) }}"><i class="fas fa-star text-danger fa-2x"></i></a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                {{ knp_pagination_render(articles)}}
            </div>
        </div>
    </div>
{% endblock %}