{% extends "layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="center p-4">Filtre
                <button class="edit-btn" onclick="toggle_visibility(1)"><i onclick="btn_icone(this)" class="fas fa-arrow-up"></i></button></h2>
                {% include 'data/_filtre_articles.html.twig' %}
            </div>
            <!--
                Récup les infos dans entite via article_entite
            -->
            <div class="col-lg-9 p-4">
                <div class="row">
                    <div class="col-lg-6 float-left">
                        <img class="pl-2 pt-2" src="{{asset('assets/images/article/icone.jpg')}}" data-toggle="tooltip" data-placement="bottom" title="mode affichage en icone" alt="mode affichage en icones" width="70" height="70">
                        <img class="pl-2 pt-2" src="{{asset('assets/images/article/list.png')}}" data-toggle="tooltip" data-placement="bottom" title="mode affichage liste détaillée" alt="mode affichage liste détaillé" width="70" height="70">
                        <span class="pl-4 pt-4 text-trier">trier par</span>
                        <button id="navbarDropdown" data-toggle="dropdown" class="edit-btn">
                            <i class="fas fa-arrow-up"></i></button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">titre</a>
                                <a class="dropdown-item" href="#">date d'aquisition</a>
                                <a class="dropdown-item" href="#">prix</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">popularité</a>
                            </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                {% if articles is defined %}
                    {% for article in articles | slice(0, 30) %}
                        <div class="col-4 pt-4 pb-4 float-left">
                            <div class="pl-2">
                                {% if nouveaute is defined %}
                                    {% for new in nouveaute %}
                                        {% if new.id == article.id %}
                                            <span class="text-size text-bold text-size-title text-nouveaute"> nouveau !</span>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="row p-2">
                                <div class="col-lg-4">
                                {% if article.vignette == NULL %}
                                    <input type="hidden" name="id" value="{{ article.id }}">
                                    <a href="{{ path('article_details', {id: article.id}) }}">
                                        <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="120" height="120"></a>
                                {% else %}
                                    <input type="hidden" name="id" value="{{ article.id }}">
                                    <a href="{{ path('article_details', {id: article.id}) }}">
                                        <img src="{{ article.vignette }}" alt="{{ article.vignette }}" width="120" height="120"></a>
                                {% endif %}
                                    <div class="p-4">
                                        <input type="hidden" name="id" value="{{ article.id }}">
                                        {%  if article.statut.libelle == "empruntable" %}
                                            <a class="style-button-article-emprunt">Emprunter</a>
                                        {% else %}
                                            <a class="style-button-article-achat">Acheter</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                        <div class="text-size-title"><span class="text-orange"> titre : </span><span class="text-bold">{{article.titre | capitalize }}</span></div>
                                        <div class="text-size pt-2"><span class="text-orange">auteur : </span>auteur</div>
                                        <div class="text-size pt-1"><span class="text-orange">date de publication : </span>{{article.datePublication is empty ? "INCONNU" : article.datePublication|date("d/m/Y")}}</div>
                                    <div class="text-size pt-3"><span class="text-orange">moyenne : </span>moyenne (étoile)</div>
                                        {%  if article.statut.libelle == "vendable" %}
                                            <hr>
                                            <div class="text-size"><span class="text-orange">prix : </span><span style="color: red">{{ article.montantVente }}€</span></div>
                                        {% endif %}
                                </div>
                                <div class="col-lg-1"> <!-- pour tablette : p-4-->
                                    {% if article.favoris is empty %}
                                        <a href="{{ path('add_article_favoris', {id: article.id, page: "list"}) }}"><i class="far fa-star text-danger fa-2x"></i></a>
                                    {% else %}
                                        <a href="{{ path('remove_article_favoris', {id: article.id, page: "list"}) }}"><i class="fas fa-star text-danger fa-2x"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(articles)}}</div>
        </div>
    </div>
{% endblock %}