<nav class="navbar navbar-dark">
    <a class="navbar-brand titre letter-spacing" href="#">MEDIATHEQUE</a>
    {% if app.request.pathInfo != '/adherent' %}
        <form id="search" action="POST">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon" onclick="this.closest('form').submit();return false;"><i class="fas fa-search"></i></a>
            </div>
        </form>
    {% endif %}
    <a class="navbar-brand ml-auto profil content-desktop letter-spacing" href="{{ path('security_logout') }}">DECONNEXION</a>


    <button class="navbar-toggler custom-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link letter-spacing" href="#">TEST<span class="sr-only">(current)</span></a>
            </li>
            <div class="content-mobile">
                <li class="nav-item active dropdown">
                    <a class="nav-link letter-spacing dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LIVRE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('adherent_bibliotheque_show_genre', {id : 28}) }}">Revue</a>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <br>
                <li class="nav-item active dropdown">
                    <a class="nav-link letter-spacing dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FILM
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <br>
                <li class="nav-item active dropdown">
                    <a class="nav-link letter-spacing dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MUSIQUE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li><br>
                <li class="nav-item active dropdown">
                    <a class="nav-link letter-spacing dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        JEUX
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</nav>
<!--DEUXIEME NAVBAR-->
<nav class="navbar navbar-light nav-space content-desktop">
    <div class="dropdown" style="margin-left: 30vh;">
        <a class="navbar-brand nav-cat letter-spacing dropdown nav-title-hover" href="{{ path('adherent_bibliotheque_show') }}">LIVRE</a>
        <div class="dropdown-content" id="a">
            <ul class="multi-column columns-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id : 28}) }}">Revue</a></li>
                            <div class="sub-2-menu">
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 30}) }}">Enfant</a></li>
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 29}) }}">Adulte</a></li>
                            </div>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 34}) }}">Science fiction</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 11}) }}">Biographie</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 31}) }}">Roman</a></li>
                            <div class="sub-2-menu">
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 32}) }}">Enfant</a></li>
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 33}) }}">Policier</a></li>
                            </div>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 18}) }}">Famille</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 23}) }}">Jeune adulte</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 6}) }}">Adolescent</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 16}) }}">Document</a></li>
                            <div class="sub-2-menu">
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 17}) }}">Document enfant</a></li>
                                <div class="sub-3-menu">
                                    <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 2}) }}">10/13 ans</a></li>
                                    <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 5}) }}">8/10 ans</a></li>
                                    <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 4}) }}">6/8 ans</a></li>
                                    <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 3}) }}">3/6 ans</a></li>
                                    <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 1}) }}">0/3 ans</a></li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 8}) }}">Bande Dessinée</a></li>
                            <div class="sub-2-menu">
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 10}) }}">Enfant</a></li>
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 9}) }}">Adulte</a></li>
                            </div>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 26}) }}" >Maison jardin</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 24}) }}">Loisir manuel</a></li>
                            <div class="sub-2-menu">
                                <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 25}) }}">Adulte</a></li>
                            </div>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 36}) }}">Sport</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 20}) }}">Géographie</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 21}) }}">Histoire</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 35}) }}">Société</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 7}) }}">Art</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 19}) }}">Fond breton</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 14}) }}">Cours préparatoire</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 13}) }}">Classique</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 12}) }}">Cassette</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 15}) }}">Divertissement</a></li>
                            <li><a href="{{ path('adherent_bibliotheque_show_genre', {id: 22}) }}">Autres</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <a class="navbar-brand nav-cat letter-spacing dropdown nav-title-hover" href="#">FILM</a>
        <div class="dropdown-content">
            <ul class="multi-column columns-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here that's extra long so we can see how it looks</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <a class="navbar-brand nav-cat letter-spacing dropdown nav-title-hover" href="#">MUSIQUE</a>
        <div class="dropdown-content">
            <ul class="multi-column columns-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here that's extra long so we can see how it looks</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="dropdown" style="margin-right: 30vh;">
        <a class="navbar-brand nav-cat letter-spacing dropdown nav-title-hover" href="#">JEUX</a>
        <div class="dropdown-content">
            <ul class="multi-column columns-2">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here that's extra long so we can see how it looks</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>