{{ form_start(form) }}
{{ form_row(form.gencode) }}
{{ form_row(form.codeArticle) }}
{{ form_row(form.categorie) }}
{{ form_row(form.titre) }}
{{ form_row(form.datePublication) }}
{{ form_row(form.vignette) }}
{{ form_row(form.description) }}
{{ form_row(form.genre) }}
{{ form_row(form.rubriques) }}
{{ form_row(form.tags) }}
{{ form_row(form.montantObtention) }}
{{ form_row(form.montantCaution) }}
{{ form_row(form.montantVente) }}
{{ form_row(form.observation) }}
{{ form_row(form.numerique) }}
{{ form_row(form.trancheAge) }}
{{ form_row(form.statut) }}

{{ form_label(form.entites) }}
<div class="entites" data-prototype="{{ form_widget(form.entites.vars.prototype)|e('html_attr') }}">
    {% for entite in form.entites %}
        <div class="entite-subform">
            {{ form_row(entite.nom) }}
            {{ form_row(entite.prenom) }}
            {{ form_row(entite.typeEntite) }}
        </div>
    {% endfor %}
</div>
<button type="button" class="add_item_link" data-collection-holder-class="entites">+</button>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="{{ asset('assets/js/add-entite-subform.js') }}"></script>