{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container cadre">

        <h1>Rechercher un article</h1>
        {{ form_start(form) }}
        {{ form_row(form.type) }}
        {{ form_row(form.value) }}
        <button class="edit-btn">{{ button_label|default('Chercher') }}</button>
        {{ form_end(form) }}

    </div>
{% endblock %}