{% extends "layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 p-4">
                <h2 class="center">Filtre
                <button class="edit-btn" onclick="toggle_visibility(1)"><i onclick="btn_icone(this)" class="fas fa-arrow-up"></i></button></h2>
                {% include 'data/_filtre_articles.html.twig' %}
            </div>
            <!--
                Récup les infos dans entite via article_entite
            -->
            <div class="col-md-9">
                <h1 class="center p-3">Récapitulatifs des articles</h1><br>
                <div>
                    <table class="table table-striped table-bordered">
                        <caption>Récapitulatifs des livres</caption>
                        <thead class="thead-dark">
                        <tr>
                            <th>Code Livre</th>
                            <th>Code ISBN</th>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Photo</th>
                            <th>Numérique</th>
                            <th>Date de publication</th>
                            <th>Libelle genre</th>
                            <th>Opérations</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if livres is not empty %}
                            {% for livre in livres | slice(0, 10) %}
                                <tr>
                                    <td>{{livre.codeArticle}}</td>
                                    <td>{{livre.gencode}}</td>
                                    <td>{{livre.titre}}</td>
                                    <td>{{livre.description}}</td>
                                    <td>{{livre.vignette}}</td>
                                    <td>
                                        {% if livre.numerique == 0 %}
                                            <span style="color:red">Non</span>
                                        {% else %}
                                            <span style="color:green">Oui</span>
                                        {% endif %}
                                    </td>
                                    <td>{{livre.datePublication | date('d/m/Y')}}</td>
                                    <td>{{livre.genre.libelle}}</td>
                                    <td>
                                        <input type="hidden" name="id" value="{{ livre.id }}">
                                        <a href="{#{ path('livre_edit', {id: livre.id}) }#}" class="btn btn-primary mb-2">Réserver</a>
                                        <a href="{{ path('livre_details', {id: livre.id}) }}" class="btn btn-primary mb-2">Voir plus de détail</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="table-warning"><td>Pas de livre</td></tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        {{ knp_pagination_render(livres)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}