{% extends "layout.html.twig" %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Statistiques</h1>
        <hr>
        <div class="p-3 row">
            <div class="col-lg-6">
                <div class="row text-center">
                    <h3 class="pb-3" style="font-weight: bold;color : #aa2222 !important;">Tableau des articles les plus empruntés</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Titre de l'article</th>
                                <th>Nombre d'emprunts</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            {% if article == articles[0] %}
                                <tr class="table-success">
                                    <td>{{ article.titre | capitalize }}</td>
                                    <td>{{ article.nbEmpruntParArticle }}</td>
                                </tr>
                            {% elseif article == articles[1] %}
                                    <tr class="table-warning">
                                        <td>{{ article.titre | capitalize }}</td>
                                        <td>{{ article.nbEmpruntParArticle }}</td>
                                    </tr>
                            {% elseif article == articles[2] %}
                                    <tr class="table-info">
                                        <td>{{ article.titre | capitalize }}</td>
                                        <td>{{ article.nbEmpruntParArticle }}</td>
                                    </tr>
                            {% else %}
                                <tr>
                                    <td>{{ article.titre | capitalize }}</td>
                                    <td>{{ article.nbEmpruntParArticle }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(articles)}}</div>
            </div>
            <div class="col-lg-6">
                <h3 class="pb-3" style="font-weight: bold;color : #aa2222 !important;">Graphique</h3>
                <canvas id="myChart" height="200"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block charts %}

<script type="text/javascript">
    let ctx = document.getElementById('myChart').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [{% for article in articles %}'{{article.titre | capitalize}}',{% endfor %}],
            datasets: [{
                backgroundColor: ['rgb(154,205,50)','rgb(241, 196, 15)', 'rgb(52, 152, 219)'],
                data:  [{% for article in  articles %}{{article.nbEmpruntParArticle}},{% endfor %}]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
{% endblock %}