<div class="container-fluid">
    <div class="row pl-5 pt-5 pr-5">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-9">
                    <span style="font-size: 4vh;font-weight: bold;color : #aa2222 !important;"> Commentaires </span>
                </div>
                <div class="col-lg-3">
                    {{ render(controller('App\\Controller\\AvisController::getTotalCommentairesByArticle',{ 'idArticle': livre.id })) }}
                </div>
            </div>
            <hr>
        </div>
        <div class="col-lg-4 text-center">
            <div class="text-detail-size-subtitle p-2"><span class="text-bold">Ajouter un commentaire et/ou attribuer une note</span></div>
        </div>
    </div>
    <div class="row pl-5 pr-5">
        <div class="col-lg-8">
            {% if avis is defined %}
                {% for av in avis %}
                    <div class="row col-lg-7">
                        <div class="col-lg-2">
                            {% if av.utilisateur.avatar == NULL %}
                                <img src="{{asset('assets/images/noImage.jpg')}}" alt="pas d'image" width="40" height="40">
                            {% else %}
                                <img src="{{ av.utilisateur.avatar }}" alt="{{ av.utilisateur.avatar }}" width="40" height="40">
                            {% endif %}
                        </div>
                        <div class="col-lg-10">
                            <div class="text-size-title"><span class="text-orange text-bold"> {{ av.utilisateur.username }} </span></div>
                            <div class="text-size pt-3">{{ av.texte | raw }}</div>
                            <div class="text-size pt-3">(date du commentaire)</div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-4 text-center">
            {{ form_start(form) }}
            <input type="hidden" name="token" value="{{ csrf_token('add_commentaire')}}">
            <p>Veuillez saisir une note : note (étoile)</p>
            <p>Veuillez saisir un commentaire :</p>
            {{ form_row(form.texte) }}
            <button type="submit" class="edit-btn">{{ action|default('Valider') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>