{% extends "layout.html.twig" %}
{% block body %}
<div class="container cadre">
    <h1 class="title">Modification du profil</h1><hr>
        {{ form_start(form) }}
            {{ form_row(form.username, {'label' : 'Identifiant '}) }}<br>
            {{ form_row(form.firstname, {'label' : 'Prenom '}) }}<br>
            {{ form_row(form.name, {'label' : 'Nom '}) }}<br>
            {{ form_row(form.email, {'label' : 'Email '}) }}<br>
            {{form_row(form.phone, {'label' : 'Numéro de téléphone '}) }}<br>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <a href="{{path('profil')}}" class="edit-btn">Annuler</a>
                </div>
                <div class="col-sm">
                    <button type="submit" class="edit-btn">Valider</button>
                </div>
            </div>
    {{ form_end(form) }}
</div>
{% endblock %}
