<div id="1" style="visibility: visible">
    <form action="{{ path('filter_clear') }}" method="post">
        <input type="hidden" name="_method" value="GET">
        <button type="submit" class="edit-btn float-left" onclick="return confirm('Voulez-vous vraiment vider le filtre ?')">Vider</button>
    </form>

    <form method="post" action="{{ path('articles_show') }}" >
        <input type="hidden" name="token" value="{{ csrf_token('form_articles') }}">
        <button type="submit" class="edit-btn ">Filtrer</button>

        {% if not ((donnees.min == "" or donnees.min is not defined) and (donnees.max == "" or donnees.max is not defined) and
            donnees.search is not defined and donnees.categories is not defined and
            donnees.genres is not defined and donnees.statuts is not defined and donnees.ages is not defined) %}
            <hr>
            <div>Filtre activé :</div><br>
            <div class="container" style="color: grey">
                <u style="text-decoration: none">
                    {% if donnees.search is defined %}
                        {% if donnees.search is not empty %}
                        <li> recherche : <strong>{{ donnees.search }}</strong></li>
                        {% endif %}
                    {% endif %}
                    {% if categories is not empty %}
                        {% for categorie in categories %}
                            {% if donnees.categories[categorie.id] is defined %}
                                <li> categorie : <strong>{{ categorie.libelle|capitalize }}</strong></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if genres is not empty %}
                        {% for genre in genres %}
                            {% if donnees.genres[genre.id] is defined %}
                                <li> genre : <strong>{{ genre.libelle|capitalize }}</strong></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if statuts is not empty %}
                        {% for statut in statuts %}
                            {% if donnees.statuts[statut.id] is defined %}
                                {% if statut.libelle == 'vendable' or statut.libelle == 'empruntable' %}
                                    <li> statut : <strong>{{ statut.libelle|capitalize }}</strong></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if ages is not empty %}
                        {% for age in ages %}
                            {% if donnees.ages[age.id] is defined %}
                                <li> age : <strong>{{ age.libelle|capitalize }}</strong></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if donnees.date is not empty %}
                        <li> date : <strong>{{ donnees.date| date('d/m/Y') }}</strong></li>
                    {% endif %}
                    {% if donnees.min is not empty %}
                        <li> prix min : <strong>{{ donnees.min }}</strong></li>
                    {% endif %}
                    {% if donnees.max is not empty %}
                        <li> prix max : <strong>{{ donnees.max }}</strong></li>
                    {% endif %}
                </u>
           </div>
        {% endif %}

        <hr>
        <div class="form-group">
            <div class="sub-menu-filtre">
                <a href="#mon-bloc-1" data-js="hide"><h5>Catégories</h5></a>
            </div>
            <div id="mon-bloc-1" class="hide-box p-2">
                <div class="filtre">
                    {% for categorie in categories|slice(0, categories|length/2) %}
                        <input  type="checkbox" name="categories[]" value="{{ categorie.id }}"{% if donnees.categories[categorie.id] is defined %} checked {% endif %}>
                        {{ categorie.libelle|capitalize }}
                        <br/>
                    {% endfor %}
                </div>
                {% for categorie in categories|slice(categories|length/2, categories|length) %}
                    <input type="checkbox" name="categories[]" value="{{ categorie.id}}"{% if donnees.categories[categorie.id] is defined %} checked {% endif %}>
                    {{ categorie.libelle|capitalize }}
                    <br/>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="sub-menu-filtre">
                <a href="#mon-bloc-2" data-js="hide"><h5>Genres</h5></a>
            </div>
            <div id="mon-bloc-2" class="hide-box p-2">
                <div class="filtre">
                {% for genre in genres|slice(0, genres|length/2) %}
                    <input  type="checkbox" name="genres[]" value="{{ genre.id }}"{% if donnees.genres[genre.id] is defined %} checked {% endif %}>
                    {{ genre.libelle|capitalize }}
                    <br/>
                {% endfor %}
                </div>
                {% for genre in genres|slice(genres|length/2, genres|length) %}
                    <input type="checkbox" name="genres[]" value="{{ genre.id}}"{% if donnees.genres[genre.id] is defined %} checked {% endif %}>
                    {{ genre.libelle|capitalize }}
                    <br/>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <div class="sub-menu-filtre">
                <a href="#mon-bloc-3" data-js="hide"><h5>Rubriques</h5></a>
            </div>
            <div id="mon-bloc-3" class="hide-box p-2">
                <div class="filtre">
                    filtre à ajouter
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="sub-menu-filtre">
                <a href="#mon-bloc-5" data-js="hide"><h5>Tranche d'âge</h5></a>
            </div>
            <div id="mon-bloc-5" class="hide-box p-2">
                <div class="filtre">
                    {% for age in ages|slice(0, ages|length/2) %}
                        <input  type="checkbox" name="ages[]" value="{{ age.id }}"{% if donnees.ages[age.id] is defined %} checked {% endif %}>
                        {{ age.libelle|capitalize }}
                        <br/>
                    {% endfor %}
                </div>
                {% for age in ages|slice(ages|length/2, ages|length) %}
                    <input type="checkbox" name="ages[]" value="{{ age.id}}"{% if donnees.ages[age.id] is defined %} checked {% endif %}>
                    {{ age.libelle|capitalize }}
                    <br/>
                {% endfor %}
                </div>
            </div>

        <div class="form-group">
            <label> Date de publication :</label>
            <input type="date" name="date" value="{{ donnees.date }}"/>
        </div>
        <hr>

        <div class="form-group">
            <input type="checkbox" name="nouveaute" {% if donnees.nouveaute is defined %} checked {% endif %}/>
            <label>Nouveauté</label>
        </div>

        <hr>
        <div class="form-group">
            <div class="filtre">
                {% for statut in statuts %}
                    {% if statut.libelle == 'empruntable' %}
                        <input type="checkbox" name="statuts[]" value="{{statut.id}}"{% if donnees.statuts[statut.id] is defined %} checked {% endif %}>
                        {{ statut.libelle|capitalize }}
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
            {% for statut in statuts %}
                {% if statut.libelle == 'vendable'%}
                        <input type="checkbox" name="statuts[]" value="{{statut.id}}"{% if donnees.statuts[statut.id] is defined %} checked {% endif %}>
                    {{ statut.libelle|capitalize }}
                    <br/>
                {% endif %}
            {% endfor %}
        </div>

        <div class="form-group">
            <label>Prix :</label>
            <input size="15%" name="min" type="text" placeholder="min" value="{{donnees.min}}">
            <input size="15%" name="max" type="text" placeholder="max" value="{{donnees.max}}">
            <i class="pl-5" style="font-size:1vh;">ce champs s'applique uniquement sur les produits en vente</i>
        </div>

    </form>
</div>

<style>
    input::placeholder{
        color: grey;
    }
</style>

